.secao__sobre{
    width: 100vw;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;

}

.secao__sobre__conteudo{

    width: 50%;
}


.secao__sobre__imagen{
    width: 50%;
}

.secao__sobre__imagen img{

    width: 80%;
   
}